main{
	background: url("hp-telecommunications.jpg");


}

body{
	color: teal;
}


.score{
	text-align: center;
}

.board{
	width: 600px;
	height: 600px;
	margin: 0 auto;
	text-align: center;

}


.box{
	width: 160px;
	height: 160px;
	border: 5px solid teal;
	display: inline-block;
	vertical-align: middle;


}